html{
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('bmwtypewebli_arabic-webfont.woff') format('woff');
}

body{
    line-height:1;
	font-family: 'Roboto', sans-serif;
    background: rgb(74,74,74);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main{
    background-color: white;
    border-radius: 16px;
    width: 624px;
    overflow: hidden;
}   
.cart{
    display: flex;
    align-items: flex-start;
}
.cart__photo{
    margin: 16px;
    border-radius: 50%;
}
.cart__name{
    font-size: 36px;
    font-weight: normal;
    margin: 16px 16px 0 16px;
}
.cart__position{
    font-size: 18px;
    font-weight: normal;
    color: white;
    background-color: black;
    margin-top: 8px;
    padding: 8px 16px 8px 16px;
}
.cart__note{
    font-size: 16px;
    line-height: 22px;
    margin: 0 16px;
}
.cart__footer{
    font-size: 16px;
    line-height: 22px;
    margin: 22px 16px 16px 16px;
}
.link{
    background: black;
    color: white;
    padding: 2px;
    font-weight: bold;
    text-decoration: none;
}