html{
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body{
    background: rgb(74,74,74);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main{
    background-color: white;
    border-radius: 16px;
    width: 624px;
    overflow: hidden;
}   
.cart{}
.cart__photo{}
.cart__name{}
.cart__position{}
.cart__note{}
.cart__footer{}